# PRINTING PATTERNS

# TYPE 1: SOLID TRIANGLES
* 
* * 
* * * 
* * * * 
* 
* * 
* * * 
* * * *

In [1]:
n=int(input())
a=1
while a<=n:
    print("* "*a)
    a=a+1
a=1
while a<=n:
    print("* "*a)
    a=a+1

5
*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *

# TYPE 2: SOLID RECTANGLE
+ + + + +  
+ + + + +  
+ + + + +

In [4]:
m = int(input())
n= int(input())
for i in range(m):
    for j in range(n):
        print("+ ",end="")
    print(" ")

5
6
+ + + + + +
+ + + + + +
+ + + + + +
+ + + + + +
+ + + + + +

# TYPE 3: HALLOW SQUARE
        * * * * 
        *     * 
        *     * 
        * * * *

In [3]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

4
* * * *
*     *
*     *
* * * *

# TYPE 4: HALLOW RIGHT TRIANGLE
    * * * * 
      *   * 
        * * 
          *

In [5]:
n=int(input())
for i in range(n):
    if i==0:
        print("* "*n)
    elif i==n-1:
        print("  "*(n-1)+ "*")
    else:
        l_s = '  '*i
        h_s = '  '*(n-i-2)
        print(l_s+"* "+h_s+"* ")

6
* * * * * *
  *       *
    *     *
      *   *
        * *
          *

# TYPE 5:HALLOW RIGHT TRIANGLE
                *
              * *
            *   *
          *     *
        * * * * *

In [7]:
n=int(input())
for i in range(n):
    if i==0:
        print("  "*(n-1)+"*")
    elif i==n-1:
        print("* "*n)
    else:
        l_s = "  "*(n-i-1)
        h_s = "  "*(i-1)
        print(l_s+"*"+h_s+" *")

4
      *
    * *
  *   *
* * * *

# TYPE 6:INVERTED SOLID RIGHT TRIANGLE
    
    * * * * 
      * * * 
        * * 
          *

In [8]:
n=int(input())
for i in range(n):
    if i==0:
        print("* "*n)
    elif i==n-1:
        print("  "*(n-1)+"* ")
    else:
        l_s= "  "*(i)
        print(l_s + "* "*(n-i))

3
* * *
  * *
    *

# TYPE 7: SANDGLASS WITH STARS
    * * * * * 
     * * * * 
      * * * 
       * * 
        * 
       * * 
      * * * 
     * * * * 
    * * * * *

In [9]:
n=int(input())
for i in range(n-1):
    left=" "*i
    star="* "*(n-i)
    print(left + star)
for i in range(1,n+1):
    left=" "*(n-i)
    star="* "*i
    print(left+star)

4
* * * *
 * * *
  * *
   *
  * *
 * * *
* * * *

# TYPE 8:ALPHA PATTERN
A B
A B C
A B C D
A B C D E

In [12]:
n = int(input())
for i in range (65,n+65):
    for j in range(65,i+1):
        print(chr(j),end = " ")
    print("")

4
A
A B
A B C
A B C D

# TYPE 9: W PATTERN
    * * * * * * * * * * * * * * * * * * * 
     * * * * * * * * * * * * * * * * * * 
      * * * * * * * *   * * * * * * * * 
       * * * * * * *     * * * * * * * 
        * * * * * *       * * * * * * 
         * * * * *         * * * * * 
          * * * *           * * * * 
           * * *             * * * 
            * *               * * 
             *                 *

In [14]:
n=int(input())
for i in range(1,n+1):
    for j in range(2*n,2*n-1,-1):
        if i ==1:
            print("* "*(j-1))
        else:
            l=" "*(i-1)
            h="  "*(i-2)
            print(l+"* "*(n-i+1)+h+"* "*(n-i+1))

10
* * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * *
  * * * * * * * *   * * * * * * * *
   * * * * * * *     * * * * * * *
    * * * * * *       * * * * * *
     * * * * *         * * * * *
      * * * *           * * * *
       * * *             * * *
        * *               * *
         *                 *

# TYPE 10: PYRAMID WOTH 0'S & DOT(.)
    . . . . . . . . . . . . 0 . . . . . . . . . . . . 
    . . . . . . . . . . . 0 0 0 . . . . . . . . . . . 
    . . . . . . . . . . 0 0 0 0 0 . . . . . . . . . . 
    . . . . . . . . . 0 0 0 0 0 0 0 . . . . . . . . . 
    . . . . . . . . 0 0 0 0 0 0 0 0 0 . . . . . . . . 
    . . . . . . . 0 0 0 0 0 0 0 0 0 0 0 . . . . . . . 
    . . . . . . 0 0 0 0 0 0 0 0 0 0 0 0 0 . . . . . . 
    . . . . . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . . . . . 
    . . . . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . . . . 
    . . . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . . . 
    . . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . . 
    . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . 
    0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [15]:
n=int(input())
for i in range(1,n+1):
    dot=". "*(n-i)
    zero="0 "*((2*i)-1)
    print(dot+zero+dot)

13
. . . . . . . . . . . . 0 . . . . . . . . . . . .
. . . . . . . . . . . 0 0 0 . . . . . . . . . . .
. . . . . . . . . . 0 0 0 0 0 . . . . . . . . . .
. . . . . . . . . 0 0 0 0 0 0 0 . . . . . . . . .
. . . . . . . . 0 0 0 0 0 0 0 0 0 . . . . . . . .
. . . . . . . 0 0 0 0 0 0 0 0 0 0 0 . . . . . . .
. . . . . . 0 0 0 0 0 0 0 0 0 0 0 0 0 . . . . . .
. . . . . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . . . . .
. . . . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . . . .
. . . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . . .
. . 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 . .
. 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 .
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

# TYPE 11: DIAMNOD
         * 
        * * 
       * * * 
      * * * * 
     * * * * * 
    * * * * * * 
     *       *
      *     *
       *   *
        * *
         *

In [ ]:
n=int(input())
for i in range(1,n+1):
    p=""
    for j in range(1,i+1):
        p=p+str("*")+" "
        l= " "*(n-i)
    print(l+p)
for i in range(1,n):
    if i ==n-1:
        print(" "*(n-1)+"*")
    else:
        for j in range(1,i+1):
            l= " "*(i)
            h="  "*(n-i-2)
        print(l+"* "+h+"*")

# TYPE 12: DIAMOND WITH NUMBERS
             1 
            1 2 
           1 2 3 
          1 2 3 4 
         1 2 3 4 5 
        1 2 3 4 5 6 
       1 2 3 4 5 6 7 
      1 2 3 4 5 6 7 8 
     1 2 3 4 5 6 7 8 9 
    1 2 3 4 5 6 7 8 9 10 
     1 2 3 4 5 6 7 8 9 
      1 2 3 4 5 6 7 8 
       1 2 3 4 5 6 7 
        1 2 3 4 5 6 
         1 2 3 4 5 
          1 2 3 4 
           1 2 3 
            1 2 
             1

In [17]:
n=int(input())
for i in range(1,n+1):
    p=""
    for j in range(1,i+1):
        p=p+str(j)+" "
        l=" "*(n-i)
    print(l+p)

for i in range(n,0,-1):
    p=""
    for j in range(1,i):
        p=p+str(j)+" "
        l=" "*(n-i+1)
    print(l+p)

10
         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
 1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7 8
   1 2 3 4 5 6 7
    1 2 3 4 5 6
     1 2 3 4 5
      1 2 3 4
       1 2 3
        1 2
         1

# TYPE 13: INVERTED FULL PYRAMID
    * * * 
    * * 
    *

In [18]:
n=int(input())
for i in range(n):
    
    print("* "*(n-i))

3
* * *
* *
*

# TYPE 14: HALLOW HALF PYRAMID
    * 
    * * 
    *   * 
    *     * 
    *       * 
    * * * * * *

In [19]:
n=int(input())
for i in range(0,n):
    if i==0:
        print("* ")
    elif i == n-1:
        print("* "*n)
    else:
        
        h_s= "  "*(i-1)
        print("* "+h_s+"* ")

6
*
* *
*   *
*     *
*       *
* * * * * *

# TYPE 15: HALLOW INVERTED FULL PYRAMID
    * * * * * * 
     *       * 
      *     * 
       *   * 
        * * 
         *

In [20]:
n=int(input())
for i in range(1,n+1):
    if i==1:
        print("* "*n)
    elif i==n:
        print(" "*(n-1)+"* ")
    else:
        l=" "*(i-1)
        h="  "*(n-i-1)
        print(l+"* "+h+"* ")

6
* * * * * *
 *       *
  *     *
   *   *
    * *
     *

# TYPE 16: NUMBER PYRAMID-2
    25 
    24 23 
    22 21 20 
    19 18 17 16 
    15 14 13 12 11 
    10 9 8 7 6 5

In [21]:
n=int(input())
k=int(input())
N=n+ (k*(k+1)//2) - 1
for i in range(1,k+1):
    p=""
    for j in range(1,i+1):
        p=p+str(N)+" "
        N=N-1
    print(p)

5
6
25
24 23
22 21 20
19 18 17 16
15 14 13 12 11
10 9 8 7 6 5

# TYPE 17: NUMBER PYRAMID-3
    4 
    5 6 
    7 8 9 
    10 11 12 13 
    14 15 16 17 18 
    19 20 21 22 23 24

In [22]:
n=int(input())
k=int(input())
N=n
for i in range(1,k+1):
    p=""
    for j in range(1,i+1):
        p= p+str(N)+" "
        N=N+1
    print(p)

4
6
4
5 6
7 8 9
10 11 12 13
14 15 16 17 18
19 20 21 22 23 24

# TYPE 18: RECTANGLE-2
    + + + +  
    - - - -  
    + + + +  
    - - - -  
    + + + +

In [23]:
m=int(input())
n=int(input())

for i in range(m):
    if i%2==0:
        print("+ "*n,end=" ")
    else:
        print("- "*n,end=" ")
    print()

5
4
+ + + +
- - - -
+ + + +
- - - -
+ + + +

# TYPE 19: HALLOW RECTANGLE
    +------+
    |      |
    |      |
    |      |
    |      |
    +------+

In [24]:
a = int(input())
b = int(input())
for i in range(a+2):
    if i==0 or i==a+1:
        print("+"+"-"*b+"+")
    else:
        print("|"+" "*b+"|")

4
6
+------+
|      |
|      |
|      |
|      |
+------+

# TYPE 20: DIGIT 8
    * * * * 
    *     * 
    *     * 
    *     * 
    * * * * 
    *     * 
    *     * 
    *     * 
    * * * *

In [27]:
m=int(input())
for i in range (m+1):
    for j in range(m):
        if i==0 or i==m or j==0 or j==m-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print("")
for i in range(m):
    for j in  range(m):
        if   j==m-1 or i==m-1 or j==0:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print("")

4
* * * *
*     *
*     *
*     *
* * * *
*     *
*     *
*     *
* * * *

# TYPE 21: BUTTERFLY
    *                         * 
    * *                     * * 
    * * *                 * * * 
    * * * *             * * * * 
    * * * * *         * * * * * 
    * * * * * *     * * * * * * 
    * * * * * * * * * * * * * * 
    * * * * * * * * * * * * * * 
    * * * * * *     * * * * * * 
    * * * * *         * * * * * 
    * * * *             * * * * 
    * * *                 * * * 
    * *                     * * 
    *                         *

In [28]:
n=int(input())
for i in range(1,n+1):
    for j in range(i,i+1):
        h = "  "*(2*n-2*i)
        
    print("* "*i+h+i*"* ")
for i in range(n,0,-1):
    for j in range(2*n,2*n+1):
        h = "  "*((n-i)*2)
    print("* "*(i)+h+(i)*"* ")

7
*                         *
* *                     * *
* * *                 * * *
* * * *             * * * *
* * * * *         * * * * *
* * * * * *     * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * *     * * * * * *
* * * * *         * * * * *
* * * *             * * * *
* * *                 * * *
* *                     * *
*                         *